<template>
  <form @submit.prevent="saveData()" action=""  class="row">
    <div class="col-12 page">
      <h3 class="title_page">Nuevo Grupo</h3>
      <div class="page__header material d-flex  justify-content-end">
        <router-link :to="{ name: 'user'}" class="btn btn-secondary btn-cancel">
          <i class="fa fa-undo-alt"></i>
          Cancelar
        </router-link>
        <button class="btn btn-success btn-save">
          <i class="fa fa-save"></i>
          Guardar
        </button>
      </div>
       <div class="d-flex  ">
        <div class="col-12 ">
          <div class="row material content">
            <div class="col-12 ">
              <h5 class="material__title">Informacion Basica</h5>
              <div class="row">
                <div class="col-12 content__field">
                  <label for="">Nombre</label>
                  <input type="text" name="user_name" v-validate="'required'" :class="{'form-control--error': errors.has('user_name') }" v-model="group.name" class="form-control">
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-12">
                    <h5>Permiso Modulos</h5>
                    <div class="row mt-3" v-for='perms in permissionData'>
                        <div class="col-12">
                          <h6>{{perms.name}}</h6>
                          <div class="d-flex">
                            <div class="col-3" v-for='permsCode in perms.list_permission'>
                              <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" :id="permsCode.code" :value='getPermissionValue(permsCode.code)' v-model='group.permissions'>
                                <label class="custom-control-label" :for="permsCode.code">{{permsCode.name}}</label>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</template>
<script>
  import { EventBus } from '@/bus'
  import permissionListData from './permission'
  export default {
    name: 'groupCreate',
    data () {
      return {
        group: {
          name: '',
          permissions: []
        },
        permissions: {},
        permissionData: []
      }
    },
    created () {
      this.permissionData = permissionListData
      this.getPermissions()
    },
    methods: {
      getPermissions () {
        var self = this
        this.axios.get('/custom_auth/permissions-codes/', {
        }).then(response => {
          self.permissions = response.data
        })
      },
      saveData () {
        var self = this
        self.$validator.validateAll().then((result) => {
          if (result) {
            self.axios({
              method: 'post',
              url: '/custom_auth/group/',
              data: self.group
            }).then(response => {
              EventBus.$emit('alert_bus', 'success', {'Se guardo correctamente': []})
              self.$router.push({name: 'group_update', params: { id: response.data.id }})
            }).catch(error => {
              console.log('err', error)
              self.$emit('alert', status, error.response.data)
            })
          } else {
            console.log('error')
          }
        })
      },
      getPermissionValue (code) {
        console.log(code, 'code', this.permissions[code])
        return this.permissions[code]
      }
    }
  }
</script>