<template>
    <div class="row">
      <div class="col-12">
        <h3 class="title_page">Metodo de envio</h3>
        <search-global v-on:search='search' :permission='"shipping.add_shippingmethod"'  :isFilter='isFilter' v-on:displayFilter='showFilter=true' nameUrl="shipping_method_create"></search-global>
        <table-global  v-on:orderBy="orderBy"  :permission='"shipping.change_shippingmethod"' nameUrl="shipping_method_update" :headerField="headerField" :tablaDataList="dataList" ></table-global>
      </div>
    </div>
</template>
<script>
  import filter from '@/mixins/filter'
  import searchGlobal from '@/componentsGlobals/search'
  import tableGlobal from '@/componentsGlobals/table'
  export default {
    name: 'shippingMethodList',
    components: {
      searchGlobal,
      tableGlobal
    },
    mixins: [filter],
    data () {
      return {
        isFilter: false,
        showFilter: false,
        headerField: [
          {
            field: 'name',
            fieldOrder: 'name',
            name: 'Nombre',
            col: 'col-3',
            orderBy: true,
            type: 'text'
          },
          {
            field: 'name_store',
            fieldOrder: 'name_store',
            name: 'Nombre en la tienda',
            col: 'col-3',
            orderBy: true,
            type: 'text'
          },
          {
            field: 'day_range',
            fieldOrder: 'day_range',
            name: 'Dia rango',
            col: 'col-3',
            orderBy: true,
            type: 'text'
          },
          {
            field: 'is_active',
            fieldOrder: '',
            name: 'Activo',
            col: 'col-1',
            orderBy: false,
            type: 'boolean'
          }
        ],
        dataList: {},
        filter: {
          field: '',
          orderBy: '',
          search: ''
        }
      }
    },
    created () {
      this.getDataList()
    },
    methods: {
      getDataList () {
        var self = this
        this.axios.get('/shipping/shipping-method/', {
          params: self.filter
        }).then(response => {
          self.dataList = response.data
        })
      }
    }
  }
</script>
