<template>
    <div class="row">
      <div class="col-12">
        <h3 class="title_page">{{shipping.name}} Costo</h3>
        <div class="material content d-flex">
            <div class="col-4 content__field">
                <label for="">Departamento</label>
                <select name="" id="" class="form-control" v-model='departamento_select' @change='getProvincias()'>
                    <option value=""  >Seleccione Departamento</option>
                    <option :value="departamento.codigo"  v-for='departamento in departamentos' v-if='departamentos.length > 0'>
                        {{departamento.descripcion}}
                    </option>
                </select>
            </div>
            <div class="col-4 content__field">
                <label for="">Provincia</label>
                <select name="" id="" class="form-control" v-model='provincia_select'  @change='getDistritos()'>
                    <option value="">Seleccione Provincia</option>
                    <option :value="provincia.codigo" v-for='provincia in provincias' v-if='provincias.length > 0'>
                        {{provincia.descripcion}}
                    </option>
                </select>
            </div>
            <div class="col-4">
              <label for="">
                &nbsp
              </label>
              <router-link :to="{ name: 'shipping_method_update', params: {id: $route.params.id}}" class="btn btn-secondary btn-cancel">
                <i class="fa fa-undo-alt"></i>
                Regresar
              </router-link>
            </div>
        </div>
        <search-global v-on:search='search' :isFilter='isFilter' v-on:displayFilter='showFilter=true' ></search-global>
        <table-extra-global  v-on:orderBy="orderBy" nameUrl="shipping_cost_update" :headerField="headerField" :tablaDataList="dataList" :idExtra='idExtra' ></table-extra-global>
      </div>
    </div>
</template>
<script>
  import filter from '@/mixins/filter'
  import searchGlobal from '@/componentsGlobals/search'
  import tableExtraGlobal from '@/componentsGlobals/tableIdExtra'
  export default {
    name: 'shippingCost',
    components: {
      searchGlobal,
      tableExtraGlobal
    },
    mixins: [filter],
    data () {
      return {
        idExtra: '',
        isFilter: false,
        showFilter: false,
        headerField: [
          {
            field: 'price',
            fieldOrder: 'price',
            name: 'Precio',
            col: 'col-5',
            orderBy: true,
            type: 'text'
          },
          {
            field: 'full_ubigeo',
            fieldOrder: 'ubigeo__desc_ubigeo_inei',
            name: 'Ubigeo',
            col: 'col-5',
            orderBy: true,
            type: 'text'
          }
        ],
        dataList: [],
        departamentos: [],
        departamento_select: '',
        provincia_select: '',
        provincias: [],
        filter: {
          field: '',
          orderBy: '',
          search: ''
        },
        shipping: {
          name: '',
          name_store: ''
        }
      }
    },
    created () {
      this.getDataList()
      this.getDepartamentos()
      this.getShippingMethod()
      this.idExtra = this.$route.params.id
      this.filter['shipping_method'] = this.$route.params.id
    },
    methods: {
      getShippingMethod () {
        const self = this
        const id = this.$route.params.id
        this.axios.get('/shipping/shipping-method/' + id + '/', {
          params: self.params
        }).then(response => {
          self.shipping = response.data
        })
      },
      getDataList () {
        var self = this
        this.axios.get('/shipping/shipping-cost/', {
          params: self.filter
        }).then(response => {
          self.dataList = response.data
        })
      },
      getDepartamentos () {
        var self = this
        this.axios.get('/ubigeo/departamentos/', {
        }).then(response => {
          self.departamentos = response.data.departamentos
        })
      },
      getProvincias () {
        var self = this
        let idDepartamento = self.departamento_select
        if (idDepartamento) {
          this.axios.get('/ubigeo/provincias/', {
            params: {
              departamento: idDepartamento
            }
          }).then(response => {
            self.provincias = response.data.provincias
          })
        } else {
          self.provincias = []
        }
      },
      getDistritos () {
        var self = this
        let idProvincia = self.provincia_select
        console.log(idProvincia, 'idProvincia')
        if (idProvincia) {
          self.filter['provincia'] = idProvincia
          self.filter['get_distritos'] = true
          self.getDataList()
        } else {
          self.filter['provincia'] = ''
          self.filter['get_distritos'] = false
          self.getDataList()
        }
      }
    }
  }
</script>
