<template>
  <div class="row">
    <div class="col-12 page">
      <h3 class="title_page">Method {{shipping.name}} </h3>
      <div  class="page__header material d-flex  justify-content-end"
      :class='{"justify-content-between": getPermission("shipping.delete_shippingmethod")}'>
        <a href="" v-if='getPermission("shipping.delete_shippingmethod")' @click.prevent='modal.show=true' class='btn btn-danger '><i class='far fa-trash-alt'></i> Eliminar</a>
        <div class="button-group">
          <router-link :to="{ name: 'shipping_cost', params: {id: $route.params.id}}" class="btn btn-primary">
              <i class="fa fa-dollar-sign"></i>
              Costos de envío
            </router-link>
          <router-link :to="{ name: 'shipping_method'}" class="btn btn-secondary btn-cancel">
              <i class="fa fa-undo-alt"></i>
              Cancelar
            </router-link>
          <a href="" class="btn btn-success btn-save" @click.prevent="saveData">
            <i class="fa fa-save"></i>
            Guardar
          </a>
        </div>
      </div>
      <div class="d-flex  ">
        <div class="col-8 ">
          <div class="row material content">
            <div class="col-12 content__field">
              <label for="">Nombre</label>
              <input type="text" v-model="shipping.name" class="form-control">
            </div>
            <div class="col-12 content__field">
              <label for="">Nombre en la tienda</label>
              <input type="text" v-model="shipping.name_store" class="form-control">
            </div>
            <div class="col-12 content__field">
              <label for="">Día apartir de despacho</label>
              <input type="text" v-model="shipping.day_range" class="form-control">
            </div>
          </div>
        </div>

        <div class="col-4 second_element">
          <div class="row  material content">
            <div class="col-12 content__field content__field--check">
              <label for="">Es Activo</label>
              <div class="slider-checkbox">
                <input type="checkbox" id="1" v-model='shipping.is_active'>
                <label class="label" for="1">
                  <span class="fa fa-times slider-checkbox__status--inactive slider-checkbox__status"></span>
                  <span class="fa fa-check slider-checkbox__status slider-checkbox__status--active"></span>
                </label>
              </div>
            </div>
            <div class="col-12 content__field">
              <label for="">Posición</label>
              <input type="text" v-model="shipping.position" class="form-control">
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</template>
<script>
  import permissionMixin from '@/mixins/permissionMixion'
  export default {
    name: 'shippingMethodUpdate',
    data () {
      return {
        shipping: {
          name: '',
          name_store: '',
          day_range: '',
          is_active: false,
          position: ''
        }
      }
    },
    mixins: [permissionMixin],
    created () {
      this.getShippingMethod()
    },
    mounted () {

    },
    methods: {
      close () {
        this.modal.show = false
      },
      getShippingMethod () {
        const self = this
        const id = this.$route.params.id
        this.axios.get('/shipping/shipping-method/' + id + '/', {
          params: self.params
        }).then(response => {
          self.shipping = response.data
        })
      },
      saveData () {
        const self = this
        const id = this.$route.params.id
        this.axios({
          method: 'put',
          url: '/shipping/shipping-method/' + id + '/',
          data: self.shipping
        }).then(response => {
          this.$emit('alert', 'success', {'Se guardo correctamente': []})
          self.$router.push({name: 'shipping_method_update', params: { id: response.data.id }})
        }).catch(error => {
          this.$emit('alert', 'danger', error.response.data)
        })
      }
    }
  }
</script>
