<template>
  <div class="row">
    <div class="col-12 page">
      <h3 class="title_page">Method Envío </h3>
      <div class="page__header material d-flex  justify-content-end">
        <div class="button-group">
          <router-link :to="{ name: 'shipping_method'}" class="btn btn-secondary btn-cancel">
              <i class="fa fa-undo-alt"></i>
              Cancelar
            </router-link>
          <a href="" class="btn btn-success btn-save" @click.prevent="saveData">
            <i class="fa fa-save"></i>
            Guardar
          </a>
        </div>
      </div>
      <div class="d-flex  ">
        <div class="col-8 ">
          <div class="row material content">
            <div class="col-12 content__field">
              <label for="">Nombre</label>
              <input type="text" v-model="shipping.name" class="form-control">
            </div>
            <div class="col-12 content__field">
              <label for="">Nombre en la tienda</label>
              <input type="text" v-model="shipping.name_store" class="form-control">
            </div>
            <div class="col-12 content__field">
              <label for="">Día apartir de despacho</label>
              <input type="text" v-model="shipping.day_range" class="form-control">
            </div>
            <div class="col-12 content__field">
              <label for="">Costo de envío para Lima</label>
              <input type="text" v-model="shipping.lima_price" class="form-control">
            </div>
            <div class="col-12 content__field">
              <label for="">Costo de envío externos a Lima</label>
              <input type="text" v-model="shipping.lima_exclude_price" class="form-control">
            </div>
          </div>
        </div>

        <div class="col-4 second_element">
          <div class="row  material content">
            <div class="col-12 content__field content__field--check">
              <label for="">Es Activo</label>
              <div class="slider-checkbox">
                <input type="checkbox" id="1" v-model='shipping.is_active'>
                <label class="label" for="1">
                  <span class="fa fa-times slider-checkbox__status--inactive slider-checkbox__status"></span>
                  <span class="fa fa-check slider-checkbox__status slider-checkbox__status--active"></span>
                </label>
              </div>
            </div>
            <div class="col-12 content__field">
              <label for="">Posición</label>
              <input type="text" v-model="shipping.position" class="form-control">
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</template>
<script>
  export default {
    name: 'shippingMethodCreate',
    data () {
      return {
        shipping: {
          name: '',
          name_store: '',
          day_range: '',
          is_active: false,
          position: '',
          lima_price: 0,
          lima_exclude_price: 0
        }
      }
    },
    methods: {
      saveData () {
        const self = this
        this.axios({
          method: 'post',
          url: '/shipping/shipping-method/',
          data: self.shipping
        }).then(response => {
          this.$emit('alert', 'success', {'Se guardo correctamente': []})
          self.$router.push({name: 'shipping_method_update', params: { id: response.data.id }})
        }).catch(error => {
          this.$emit('alert', 'danger', error.response.data)
        })
      }
    }
  }
</script>
